{% extends 'base.html' %}
{% block body %}

<h3 class="my-2">Edit note</h3>
<form action="" method="POST">
  {{ form.hidden_tag() }}
  <div class="form-group my-3">
    {{ form.title.label }}
    {{ form.title(class_='form-control') }}
  </div>
  <div class="form-group my-3">
    {{ form.description.label }}
    {{ form.description(class_='form-control', rows=10) }}
  </div>
  <div class="form-group my-3">
    {{ form.tags.label }}
    {{ form.tags(class='form-control', value=fillform) }}
  </div>
  <button type="submit" class="btn btn-success">Save</button>
  <a class="btn btn-danger" href="{{ url_for('index') }}">Cancel</a>
</form>

{% endblock %}
