{% extends 'base.html' %}
{% block body %}
<h3 class="my-2">Edit Tag</h3>
<form action="" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group my-3">
      {{ form.name.label }}
      {{ form.name(class_='form-control')}}
    </div>  
    <button type="submit" class="btn btn-success">Save</button>
</form>
{% endblock %}