{% extends 'base.html' %}
{% block body %}
<div class="row">
    {% for tag in tags %}
    <div class="col-sm-3" style="width: 13rem;">
      <div class="card">
        <div class="card-body">
            <p class="card-text">Tags : {{tag.name}}</p>
            <a href="{{ url_for('edit_tag', tag_name=tag.name) }}" class="btn btn-secondary">Edit</a>
            {% if tag.id in tag_In_Use %}
              <button class="btn btn-danger" disabled>Delete</button>
            {% else %}
              <a href="{{ url_for('delete_tag', tag_name=tag.name) }}" class="btn btn-danger">Delete</a>
            {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}

